# Dependencies
node_modules
package-lock.json

# Build output
dist
.vite
.tsbuildinfo
*.tgz
tsconfig.tsbuildinfo

# Logs
*.log

# Environment
.env
.env.local

# Editors
.idea
.vscode

# OS
.DS_Store

# Testing
coverage

# AIs
.omc/